<%include ../partials/header %>
<head>
  <script>

$(document).ready(function(){
    $("#button1").click(function(){
        $(gallerytoggle).slideToggle("slow");
    });
});
</script>
</head>
<body>
    <div id="wrapper">

		
		  <div class="aboutsection">
		    <h1 class="aboutheader">About us</h1>
          <p class="paraborder">The Great War of 1914-1918 was so terrible and inflicted such large numbers of casualties on all sides that when it was over it was believed by many to be “The War to end All Wars”. 
          By the end of four years of fighting from August 1914 to November 1918 many thousands of families around the world were affected by the tragedy of the wounding or loss of one of their own. Communities wer
          e depleted of many of their young men. Villages and towns in the regions where battles had raged were badly damaged or almost completely destroyed. Some villages on the battlefield areas of The Western Fro
          nt in France simply disappeared.  Preserving the memory of the people involved in the fighting, those people who were forever to be scarred by their involvement in the First World War, and the places ravaged 
          by the war, was at the heart of a desire in the 1920s to find a way to mark their participation in such a large-scale, world-changing event.</p>
          
          <p class="paraborder"> Memorials to the First World War are many and varied. Official and private 
          memorials are to be found on the battlefields of the various theatres of that war and in the home nation of those who served from the many countries which were involved in it.
          This website is a testimonial and a memorial for the fallen to tell there stories and for people to connect and share the stories of their ancestors.</p>
    </div>
    </div>
    <button type="button" class="Button" id="button1">See the Gallery</button>
<div id = "gallerytoggle">
    <h2>Memorial Gallery</h2>

<div class="row">
  <div class="column">
    <img src="ww1mem1.jpg" alt="Italian Trulli">
  </div>
  <div class="column">
    <img src="ww1mem2.jpg" alt="Italian Trulli">
  </div>
  <div class="column">
    <img src="ww1mem3.jpg" alt="Italian Trulli">
  </div>
</div>
</div>
</body>
