<%include ../partials/header %>
  <body>
    <section class="hero">
            <div class="hero-inner">
                <h1>World War 1 Memorial</h1>
                <h2>Memorializing their stories and their heroism</h2>
                <a href="/bio" class="button">Learn Their Stories</a>
            </div>
    </section>
  </body>
